<div>
    <!-- Responsive navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
        <div class="container-fluid px-5">
            <a class="navbar-brand" href="/">Wesley Barton Games</a>
        </div>
    </nav>
    <!-- Page Content -->
    <div class="container-fluid px-lg-2 animate__animated animate__fadeIn">
        <div class="card bg-info bg-opacity-10 my-1">
            <div class="card-body">
                <div class="px-2 bg-primary rounded">
                    <h1 id="blog-title">Title</h1>
                </div>
                <div class="p-2 mb-2">
                    <small class="text-muted" id="blog-date">Date Published</small>
                    <div id="blog-content"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="py-4 bg-dark">
        <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; Wesley Barton 2023</p></div>
    </footer>
</div>
